{
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {
    "node": true,
    "jasmine": true
  },
  "rules": {
    "max-len": [2, 120, 2],

    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": [
        "scripts/**/*.js",
        "test/**/*.js",
        "gulpfile.js"
      ]
    }],

    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "quote-props": ["error", "consistent-as-needed"],
    "operator-linebreak": "off",

    "no-use-before-define": ["error", {
      "functions": false,
      "classes": true,
      "variables": true,
      "allowNamedExports": true
    }]
  }
}
